<div class="container">
    <div class="row">
        <app-name #nameForm (name)="updateName($event)" (time)="updateTime($event)"></app-name>
        <app-score #score ></app-score>
        <div *ngIf = 'hidden' class="game">
            <app-timer #timer [seconds]="seconds"></app-timer>
            <app-color #color [colorStr]="colorStr"></app-color>
            <form>
                <app-slider #red color="red"></app-slider>
                <app-slider #green color="green"></app-slider>
                <app-slider #blue color="blue"></app-slider>
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary mt-4 w-50 mx-4" (click)="resetColor()">Reset</button>
                    <button type="submit" class="btn btn-primary mt-4 w-50 mx-4" (click)="submitGuess()">Submit Guess</button>
                </div>
            </form>
            
        </div>
    </div>
    <div class="row">
        <app-scoreboard #leaderboard></app-scoreboard>
    </div>
</div>
<app-ajax></app-ajax>
<router-outlet></router-outlet>

