<div class="container">
    <div class="row">
        <app-name #nameForm (name)="updateName($event)" (time)="updateTime($event)"></app-name>
        <div *ngIf = 'hidden' class="game">
            <app-score #score ></app-score>
            <app-timer #timer [seconds]="seconds"></app-timer>
            <app-color #color [colorStr]="colorStr"></app-color>
            <app-slider #red color="red"></app-slider>
            <app-slider #green color="green"></app-slider>
            <app-slider #blue color="blue"></app-slider>
            <div class="col text-center">
                <button type="submit" class="btn btn-primary mt-4 w-50 mx-4" (click)="resetColor()">Reset</button>
                <button type="submit" class="btn btn-primary mt-4 w-50 mx-4">Submit guess</button>
            </div>
        </div>
    </div>
    <div class="row">
        <app-scoreboard></app-scoreboard>
    </div>
</div>
<router-outlet></router-outlet>
